@model WebHoaLan.Models.ContactInfo

<h2 align="center">Thông tin liên hệ</h2>

<div>
    <p><b>Phone:</b>0326574641</p>
</div>

<div>
    <p><b>Email:</b>vinh612@gmail.com</p>
</div>

<div>
    <p><b>Thời gian làm việc:</b></p><br />
</div>
<div>
    <p>Từ thứ 2 đến thứ 7 từ 8h đến 17h</p>
</div>
